<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="debugPath" value="D:\\Log\\"/>
    <add key="errorPath" value="D:\\Log\\"/>
    <add key="infoPath" value="D:\\Log\\"/>
  </appSettings>
</configuration>